<form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">

  <div class="field">
    <label>Your Name</label>
    <div class="control">
      <input type="text" id="name" name="email[name]" placeholder="{{ i18n `yourname` }}" class="input">
    </div>
  </div>

  <div class="field">
    <label>Your Email</label>
    <div class="control">
      <input type="text" id="email" name="email[email]" placeholder="{{ i18n `youremail` }}" class="input">
    </div>
  </div>

  <div class="field">
    <label>Your Phone</label>
    <div class="control">
      <input type="text" id="phone" name="email[phone]" placeholder="{{ i18n `yourphone` }}" class="input">
    </div>
  </div>

  <div class="field">
    <label>Your Message</label>
    <div class="control">
      <textarea class="textarea" type="text" id="message" name="email[message]" placeholder="{{ i18n `yourmessage` }}"></textarea>
    </div>
    <input name="email[address]" id="source" type="hidden" value="food for all}">     
  </div>
  
  <button type="submit" value="send" class="button is-primary">{{ i18n `sendnow` }}</button>
</form>
