<meta charset="utf-8">

<title>{{.Title | default site.Title}}</title>


<!-- base url -->
{{ if or (eq site.BaseURL "/") (eq site.BaseURL "http://localhost:1313/") }} 

{{else}}
<!-- (eq site.BaseURL "http://examplesite.org/") (eq site.BaseURL "https://examplesite.org/") (eq site.BaseURL "http://examplesite.com/") (eq site.BaseURL "https://examplesite.com/") -->
  <base href="{{ site.BaseURL }}">
{{ end }}

<!-- multilingual SEO optimizations -->
{{ if .IsTranslated }}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{.Lang}}" href="{{ .RelPermalink | absLangURL }}">
  {{ end }}
<!-- <link rel="alternate" hreflang="x-default" href="{{ .RelPermalink | absLangURL }}"> -->
{{ end }}


<!--Favicon-->
<link rel="shortcut icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">
<link rel="icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ site.Params.favicon | absURL }}">


<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="msapplication-TileColor" content="{{site.Params.variables.primary_color | default `#da532c`}}">
<meta name="theme-color" content="{{site.Params.variables.body_color | default `#ffffff` }}">

<!-- <meta name="facebook-domain-verification" content="jhk5sunvjxf7cd0i7rmxtklrfogxr2" /> -->

{{ "<!-- Open Graph image and Twitter Card metadata -->" | safeHTML }}
{{ $image_path := .Params.image | default site.Params.image -}}
{{ $image_path_local :=  printf "static/%s" $image_path -}}
{{ $image_ext := trim (path.Ext $image_path | lower) "." -}}

{{ if fileExists $image_path_local -}}
<!--   <meta property="og:image" content="$image_path | absURL" /> -->
  {{/* If not SVG, read image aspect ratio and define Twitter Card and Open Graph width and height  */ -}}
  {{ if ne $image_ext "svg" -}}
    {{ with (imageConfig $image_path_local) -}}
      {{ if (and (gt .Width 144) (gt .Height 144)) -}}
        <meta name="twitter:image" content="{{ $image_path | absURL }}"/>
        <meta name="twitter:card" content="summary{{ if (and (gt .Width 300) (gt .Height 157) (not (eq .Width .Height))) }}_large_image{{ end }}">
      {{ end -}}
      <meta property="og:image:width" content="{{ .Width }}">
      <meta property="og:image:height" content="{{ .Height }}">
    {{ end -}}
  {{ end -}}
  <meta property="og:image:type" content="image/{{ if eq $image_ext `svg` }}svg+xml{{ else }}{{ replaceRE `^jpg$` `jpeg` $image_ext }}{{ end }}">
{{ end -}}

<meta name="twitter:title" content="{{ with .Title }}{{ . }}{{ else }}{{ site.Title }}{{ end }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>

{{ with site.Social.twitter -}}
  <meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}

{{ range site.Authors }}
  {{ with .twitter -}}<meta name="twitter:creator" content="@{{ . }}"/>{{ end -}}
{{ end -}}




{{ if .Params.author }}
  <meta name="author" content="{{ . }}">
{{ else }}
  <meta name="author" content="{{ .Site.Params.author }}">
{{ end }}


<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ .Title }}">
{{ if .Params.description }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ .Params.description }}">
{{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
{{ with .Site.Params.title }}
  <meta property="og:site_name" content="{{ . }}">
{{ end }}
<meta property="og:image" content="{{ .Params.image }}">




{{ template "_internal/twitter_cards.html" . }}


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/60eed2dbd6e7610a49ab3c35/1faiefb5d';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->


{{ if .Params.Org }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NGO",
      "email": "hello(at)pantrypoints.com",
      "name": "Pantry Work",
      "telephone": "()",
      "url": "https://foodforall.xyz",
      "logo": "/icons/pw.png",
      "foundingDate": "2018",
      "founders": [
         {
         "@type": "Person",
         "name": "Juan"
         },
         {
         "@type": "Person",
         "name": "Pari"
         } 
      ]
    }
  </script>

{{ else }}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": "Food for All",
      "name": "{{ .Title }}",
      "description": "{{ .Description }}",
      "datePublished": "{{ .Date }}"
    }
  </script>

{{ end }}


<link rel="stylesheet" href="{{ "/style.css" | absURL}}"/>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalitycsID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.googleAnalitycsID }}');
</script>




<!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v3.5.0/dist/alpine.min.js" defer></script> -->

<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '494558894085286',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
 -->
