<section class="section my-5">
  <div class="container has-text-centered my-5">
    <h2 class="title is-3">{{ .title | markdownify }}</h2>

    <div class="columns is-mobile">
      <div class="column is-hidden-mobile is-2-desktop">
      </div>
      <div class="column is-12-mobile is-8-desktop">
        <div class="wrapper">
          <div class="buttonWrapper">
            <button class="tab-button" style="border-top-left-radius: 10px;" data-id="1">Step 1</button>
            <button class="tab-button" data-id="2">Step 2</button>
            <button class="tab-button" style="border-top-right-radius: 10px;" data-id="3">Step 3</button>
          </div>
          <div class="contentWrapper">
            {{ range .steps }}        
              <div class="content has-text-centered active" id="{{ .id }}">
                <figure class="image is-inline-block">                
                  <img src="{{ .image | absURL }}" alt="Image" class="card-image">
                </figure>
                <div class="card-footer mt-4">
                  <p class="card-footer-item">{{ .content | markdownify }}</p>
                </div>
              </div>
            {{ end }}      
          </div>
        </div>
      </div>      
      <div class="column is-hidden-mobile is-2-desktop">
      </div>
    </div>
  </div>
</section>


<style type="text/css">
  .wrapper {
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  }

  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #ff5b3eff;
/*    background-color: #bccbe9;*/
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }

  button:hover {
    background-color: yellow;
    color: black;
  }

  button.active {
    background-color: white;
    color: gray;
  }

  .active {
    background-color: white;
  }

  .content {
    display: none;
    padding: 10px 20px;
  }

  .content.active {
    display: block;
  }
</style>



<script type="text/javascript">
  const tabs = document.querySelector(".wrapper");
  const tabButton = document.querySelectorAll(".tab-button");
  const contents = document.querySelectorAll(".content");

  var step2 = document.getElementById("2");
  // step2.style.display = 'none';
  step2.classList.remove("active");
  var step3 = document.getElementById("3");
  step3.classList.remove("active");  
  // step3.style.display = 'none';

  tabs.onclick = e => {
    const id = e.target.dataset.id;
    if (id) {
      tabButton.forEach(btn => {
        btn.classList.remove("active");
      });
      e.target.classList.add("active");
      e.target.style.display = 'block';

      contents.forEach(content => {
        content.classList.remove("active");
      });
      const element = document.getElementById(id);
      element.classList.add("active");
    }
  }
</script>
