<section class="section my-5">
<div class="container my-5">
  <h2 class="title has-text-centered is-3">{{ .title | markdownify }}</div>
  <h3 class="subtitle has-text-centered is-5">{{ .subtitle | markdownify }}</div>        
</div>
<div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center my-5">    
  {{ range .sitem }}
    <div class="column is-3-desktop is-12-mobile">
      <div class="card zoom has-text-centered">
        <a href="{{ .link }}" class="zoom">
          <img class="mb-2" src="{{ .img }}" class="card-image">                  
        </a>        


        <figure class="image is-inline-block is-96x96 mb-4">
          <img class="my-2" src="{{ .flag }}" class="">
          <span class="h">{{ .name }}</span>
        </figure>

      </div>
    </div>
  {{ end }}
</section>