<div class="columns is-multiline is-mobile mx-5 mt-5">
  <div class="column is-6-desktop is-12-mobile">
    <a href="{{ .Params.linkb | relURL }}" title="Contact" class="button is-dark is-fullwidth is-rounded my-2">Back to {{ .Params.linkbtext }}</a>
  </div>
  <div class="column is-6-desktop is-12-mobile">
    <a href="{{ .Params.linkf | relURL }}" title="Contact" class="button is-dark is-fullwidth is-rounded my-2">Next {{ .Params.linkftext }}</a>
  </div>  
</div>