<section class="section my-5">
  <div class="container has-text-centered">
    <h2 class="title is-2">{{ .title | markdownify }}</h2>
    <div class="columns is-multiline is-mobile">      
      {{ range $i,$p := .item }}
        <div class="column is-4-desktop is-6-mobile my-5">
          <a href="{{ .link }}">
            <figure class="image is-128x128 is-inline-block">
              <img src="{{ .image }}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%)" alt="{{ .name }}">
              <!-- style="display: block; vertical-align: middle !important" -->
            </figure>
          </a>
          <br>
          <small>{{ .name | title }}</small>
        </div>
      {{ end }}
    </div>
  </div>
</section>