<style type="text/css">
  .write {
    background: #000 url("/photos/write.jpg") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<section class="write section my-5 p-5">
  <div class="container my-5">
    <div class="columns is-mobile">
      <div class="column is-10">  
        <h2 class="title mb-4">{{ .title }}</h2>
        <a href="{{ .link | absURL }} " class="button is-dark is-rounded">
          {{.btext}}
        </a>
      </div>
      <div class="column is-2">
        <img src="{{ .avatar | absURL }}" alt="Avatar class="is-rounded">
      </div>
    </div>      
  </div>
</section>