<section class="section my-5">
  <div class="container has-text-centered">
    <h2 class="title is-2">{{ .title | markdownify }}</h2>
    <h3 class="subtitle is-4">{{ .subtitle | markdownify }}</h3>

    <div class="columns is-multiline is-mobile">
      {{ range .item }}
        <div class="column is-4-desktop is-12-mobile my-5">
          <div class="card has-text-centered card-equal-height p-4">
            <a href="{{ .link }}">
              <figure class="image is-96x96 is-inline-block">
                <img class="is-rounded mb-3" src="{{ .image }}" width="100px" alt=''>
              </figure>
            </a>
            <h4 class="subtitle is-4">{{ .name | title }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>