{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}

  <style type="text/css">
    .shake {
      background: #fff url("{{ .bannermain }}") center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .hero .herobutton {
  /*    position: absolute;
      top: 50%;
      left: 50%;*/
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }  
  </style>

  <section class="hero shake is-fullheight-with-navbar has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="card p-4 mb-4" style="opacity: 0.8">
          <h1 class="title is-1">
            {{ .title | markdownify }}
          </h1>
          <h2 class="subtitle is-4">
            {{ .content | markdownify }}
          </h2>
        </div>

        <div class="columns">
          <div class="column is-3-desktop">
          </div>
          <div class="column is-6-desktop">   
            <div class="has-text-centered label">
              <figure class="is-inline-block embed-responsive embed-responsive-16by9">      
                <iframe width="100%" height="auto" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .youtube }}" allowf ullscreen></iframe>
              </figure>
            </div>
          </div>
          <div class="column is-3-desktop">
          </div>          
        </div>

        <div class="buttons has-addons is-centered">    
          {{ range .mainbuttons }}        
            <a href="{{ .link | safeURL }}" title="{{ .label }}" class="button is-rounded is-{{ .color }} m-2">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}


{{ with .Params.showcase }}
  {{ partial "showcase.html" . }}
{{ end }}

<!-- how it works -->
{{ with .Params.how }}
  {{ partial "how.html" . }}
{{ end }}


<!-- locations -->
{{ with .Params.locations }}
  {{ partial "locations.html" . }}
{{ end }}


<!-- feature -->
{{ with .Params.feature }}
  {{ partial "feature.html" . }}
{{ end }}
<!-- /feature -->



{{ with .Params.feedback }}
  {{ partial "feedback.html" . }}
{{ end }}


{{ with .Params.partners }}
  {{ partial "partners.html" . }}
{{ end }}


<!-- call to action -->
{{ with .Params.call_to_action }}
  {{ partial "cta.html" . }}
{{ end }}

<!-- /call to action -->

{{ end }}
