{{ define "main" }}

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6 has-text-centered">
<!--           <div class="has-text-centered">
            <figure class="image is-inline-block">
              <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" alt="Title Image" class="pb-4">
            </figure>
          </div> -->
          <h1 class="title is-2">{{ .Params.title }}</h1>
          <h2 class="subtitle is-5 mt-2">{{ .Params.subtitle }}</h2>
        </div>

        <div class="column is-6 has-text-centered">
          <div class="has-text-centered label py-5">
            <figure class="is-inline-block embed-responsive embed-responsive-16by9">      
              <iframe width="100%" height="auto" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.youtube }}" allowfullscreen></iframe>
            </figure>
          </div>
        </div>      
      </div>
    </div>
  </section>





  <section class="section">

    <div class="columns is-mobile is-multiline">


      {{ $paginator := .Paginate .Data.Pages }}
      
      {{ range $paginator.Pages }}
        <div class="column is-4-desktop is-12-mobile">
          <a href="{{ .Permalink }}">
            <div class="card card-equal-height zoom-xs">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" style="display: flex !important;">                
                </figure>
              </div>
              <div class="card-content">
                <div class="content">         
                  <h3 class="title is-4 mt-4">
                    {{ .Title }}
                  </h3>
                  {{ with .Params.date }}
                    <small>{{ .Format "January 2, 2006" }}</small>
                  {{ end }}
                  <p class="card-content">{{ .Summary }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
    
  </section>


{{ end }}