{{ define "main" }}

<div class="px-5">
  {{ partial "page-header.html" . }}
  <div class="columns is-mobile is-multiline">
    <div class="column is-6-desktop is-12-mobile">

      {{ with .Params.chart }}
        {{ partial "chart.html" . }}
        <div class="columns is-mobile is-multiline content mb-5">
          <div class="column is-12-mobile is-6-desktop">
            <div>
              <canvas id="Chart1"></canvas>
            </div>
          </div>
          <div class="column is-12-mobile is-6-desktop">
            <div>
              <canvas id="Chart2"></canvas>
            </div>
          </div>
          <div class="column is-12-mobile is-6-desktop">
            <div>
              <canvas id="Chart3"></canvas>
            </div>
          </div>
          <div class="column is-12-mobile is-6-desktop">
            <div>
              <canvas id="Chart4"></canvas>
            </div>
          </div>
          <div class="column is-12-mobile is-6-desktop">
            <div>
              <canvas id="Chart5"></canvas>
            </div>
          </div>             
        </div>          
        {{ . | markdownify }}
      {{ end }}

      <div class="columns is-mobile is-multiline">
        {{ range .Params.pics }}

          <div class="column is-6-mobile is-3-desktop is-multiline">
            <div class="md__image">
              <img id="{{ first 6 (shuffle (seq 1 500)) }}" src="{{ . | safeURL }}" onclick="openModal(this.id)" alt="{{ . }}" />
            </div>
          </div>

        {{ end }}
      </div>


    </div>
    <div class="column is-6-desktop is-12-mobile ">

      <div class="content p-5">{{ .Content }}</div>
      
      {{ with .Params.form }}
        {{ partial "form.html" . }}
      {{ end }}

    </div>
  </div>
</div>


{{ partial "next.html" . }}


<div id="myModal" class="modal">
  <button class="modal-close" onclick="closeModal()">close</button>
  <div class="modal-content">
    <img class="modal-pic" id="modalPic" onclick="closeModal()" style="max-width: 100%; max-height: 80vh; margin: auto;">
  </div>
</div>

<script>
// Open the Modal
function openModal(clicked_id) {
  var src = document.getElementById(clicked_id).src;
  if (src.includes("#")) {
    src = src.substring(0, src.indexOf( "#" ));
  };
  document.getElementById("modalPic").src = src;
  document.getElementById("myModal").style.display = "block";
  // Ensures the site footer is not shown if front of the modal. Remove if this is not an issue or
  // there is no footer. "site-footer" id can also be changed appropriately.
  document.getElementById("site-footer").style.display = "hidden";
}

// Close the Modal
function closeModal() { 
  // prevents flashing last modal image while new id is loading on open
  document.getElementById("modalPic").src = "";
  document.getElementById("myModal").style.display = "none";
  // See note above regarding the footer 
  document.getElementById("site-footer").style.display = "block";
}
</script>

{{ end }}